#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define RAISE   1
#define LOWER   2

/ {
    keymap {
        compatible = "zmk,keymap";
        debounce-press-ms = <6>;
        debounce-release-ms = <7>;

        default_layer {
            bindings = <
/* ───────────────────────── LEFT HAND ───────────────────────── */
&kp ESC    &kp N1   &kp N2   &kp N3   &kp N4   &kp N5
&kp TAB    &kp Q    &kp W    &kp F    &kp P    &kp B
&kp CAPS   &kp A    &kp R    &kp S    &kp T    &kp G
&kp LCTRL  &kp Z    &kp X    &kp C    &kp D    &kp V

                   &kp DELETE  &kp LGUI
                               &kp SPACE   &mo LOWER
                                           &kp LSHIFT
                                           &kp DOWN

/* ───────────────────────── RIGHT HAND ───────────────────────── */
/* Inner column = arrows (index finger) */
                    &kp UP     &kp N6   &kp N7   &kp N8   &kp N9   &kp N0
                    &kp LEFT   &kp L    &kp U    &kp Y    &kp SEMI &kp EQUAL
                    &kp DOWN   &kp N    &kp E    &kp I    &kp O    &kp APOS
                    &kp RIGHT  &kp K    &kp H    &kp COMMA &kp DOT &kp FSLH

                               &kp ENTER   &kp BACKSPACE
                               &mo RAISE   &kp SPACE
                                           &kp RSHIFT
                                           &kp UP
            >;
        };

        raise {
            bindings = <
/* ───────── SYMBOLS / OS / WINDOWS ───────── */
&kp ESC   &kp F1    &kp F2    &kp F3    &kp F4    &kp F5
&kp TAB   &kp LPAR  &kp RPAR  &kp LBKT  &kp RBKT  &kp PIPE
&trans    &kp PLUS  &kp MINUS &kp EQUAL &kp UNDER &kp BSLH
&trans    &kp EXCL  &kp AT    &kp HASH  &kp DOLLAR &kp PERCENT

                   &trans      &trans
                               &trans    &trans
                                           &trans
                                           &trans

/* Right side: window / nav helpers */
&kp C_TAB &kp F6    &kp F7    &kp F8    &kp F9    &kp F10
&kp A_TAB &kp HOME  &kp PG_UP &kp PG_DN &kp END   &kp F11
&kp GUI   &kp LEFT  &kp UP    &kp DOWN  &kp RIGHT &kp F12
&trans    &trans    &trans    &trans    &trans    &trans

                               &trans     &trans
                               &trans     &trans
                                           &trans
                                           &trans
            >;
        };

        lower {
            bindings = <
/* ───────── MEDIA / SYSTEM / UTIL ───────── */
&kp TILDE &kp F1    &kp F2    &kp F3    &kp F4    &kp F5
&trans    &kp C_VOL_UP &kp C_VOL_DN &kp C_MUTE &kp K_PLAY_PAUSE &kp K_NEXT
&trans    &kp LEFT  &kp UP    &kp DOWN  &kp RIGHT &kp PRINTSCREEN
&trans    &kp K_PREV &kp K_PP &kp K_NEXT &trans   &trans

                   &trans      &trans
                               &trans    &trans
                                           &trans
                                           &trans

/* Right side: bluetooth / output */
&bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &bt BT_SEL 5
&bt BT_DISC 0 &bt BT_DISC 1 &bt BT_DISC 2 &bt BT_DISC 3 &bt BT_DISC 4 &bt BT_DISC 5
&bt BT_NXT   &bt BT_PRV    &out OUT_USB  &out OUT_BLE &out OUT_TOG  &sys_reset
&trans       &trans        &trans        &trans       &trans        &bootloader

                               &trans     &trans
                               &trans     &trans
                                           &trans
                                           &trans
            >;
        };
    };
};